  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;1,8..144,500&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
 }

 /*Layout*/
    
 header {
    background: #252525 0% 0% no-repeat padding-box;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 header .logotipo {
    border: solid red;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

header .logotipo img{
    height: 10vh;
}

 h1 {
    font-size: 2rem;
    color: #FFFF;
    font-family: 'Roboto' , sans-serif;
 }

 nav {
    border: solid blue;
    width: 20%;
 }

 header ul{
    display: flex;
    justify-content: space-evenly;
 }

 header nav ul img {
    height: 6vh;
 }

 /*inicio das paginas*/ 

 .foto1 {
    border: solid violet;
    height: 10vh;
    width: 15vh;
 }
 
 .paguno {
    border: solid black;
    width: 100%;
    height: 60vh;
    background-image: url(Festeiro.png);
    display: flex;
 }

 .foto2 {
    border: chartreuse;
    height: 2%;

 }

.pagdos {
    border: solid crimson;
    width: 100%;
    height: 100vh;
    background-image: url(leao.png);
 }

 .foto3 {
    border: darkolivegreen;
    height: 100vh;
 }

 .pagtres {
    border: solid aquamarine;
    width: 100%;
    height: 10vh;
    background-image: url(chihuahua.png);
 }
 
 button {
    border-radius: 2rem;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: solid maroon;
 }

.creditos {
    border: solid yellow;
    top: 2304px;
    left: 0px;
    width: 1024px;
    height: 112px;
    background: #FFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

/*rodape*/ 

.footer {
    top: 2416px;
    left: 0px;
    width: 1024px;
    height: 314px;
    background: #EB4A7B 0% 0% no-repeat padding-box;
    opacity: 1;
}